# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.idea/
.packages
/build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
*.iml
pubspec.lock

# Android
android/.gradle
android/app/build/
android/app/release/
android/app/profile/
android/local.properties

# iOS
ios/Flutter/.last_build_id
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*

# Visual Studio Code
.vscode/